
.front-page-sponsors {
    h2 {
        text-align: center;
        margin-bottom: 2em;
        border-bottom: 2px solid #012A29;
        border-top: 2px solid #012A29;
        width: 60%;
        margin: 0.5em auto;
        padding: 0.3em 0;
    }
    .row {
      margin-top: 1em;
      border-bottom: 1px solid gray;
      padding: 10px;
    }

    .sponsor-name {
        text-align: left;
        padding: 20px 70px;
        h3 {
          color: gray;
        }
    }
    .sp-logos {
        align-items: center;
    }
    .sp-logo {
      text-align: center;
      img {
        max-height: 100px;
        max-width: 240px;
        padding: 10px;
      }
    }
}
